name: Daily Python Script

on:
  schedule:
    - cron: '45 17 * * *' # Runs every day at 13:00 Eastern Time during Eastern Daylight Time (EDT)

jobs:
  run_python_script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          node-version: '20' # Update Node.js version

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          node-version: '20' # Update Node.js version

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Python Script
        run: python main.py # Execute the main.py script in the root folder
